.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100vw;
    min-height: 20vh;
    background-color: rgb(128, 98, 51);
}

.aritzFooter {
    color: #000 !important;
    border-radius: 100%;
    padding: 10px;
    font-weight: bold !important;
    font-size: 6rem !important;
    font-family: Dancing Script, cursive;
}

.contactContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.listas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.navLinks {
    color: #000;
    text-decoration: none;
}


@media (max-width: 992px) {

    .listas{
        flex-direction: column;
        text-align: center;
    }

    .mailLogo{
        order: 0;
    }

    .company {
        display: flex !important;
        justify-content: center !important;
    }
}