.navbar{
    background-color: rgb(179, 222, 167);
    height: 10vh;
}

.aritzLogo{
    color: #fff !important;
    border-radius: 100%;
    padding: 10px;
    font-weight: bold !important;
    font-size: 3rem !important;

}

a.nav-link {
    display: flex !important;
    margin: 10px;
    font-family: "Dancing Script, cursive";
}

.item:hover{
    background-color: rgb(146, 198, 132) !important;
    border-radius: 5%;
}

/* Responsive: Ajusta para pantallas pequeñas */
@media (max-width: 992px) {
    .navbar{
        height: auto;
    }
}