.navbar{
    background-color: rgb(179, 222, 167);
    height: 10vh;
}

.aritzLogo {
    color: #fff !important;
    border-radius: 100%;
    padding: 10px;
    font-weight: bold !important;
    font-size: 3rem !important;
    font-family: Dancing Script, cursive;
}

a.nav-link {
    display: flex !important;
    margin: 10px;

}

.item {
    display: flex !important;
    align-items: center !important;
    gap: 5px !important;
    border-radius: 5%;
    font-family: Calibri;
}

.item:hover{
    border-bottom: 4px solid #fff;

}

/* Dropdown: contenedor principal */
.navItem {
    position: relative !important; /* Necesario para posicionar el dropdown relativo al contenedor principal */
    text-decoration: none;
}

/* Dropdown inicial: oculto */
.dropdown {
    position: absolute;
    left: 0; /* Aparece alineado al enlace de Products */
    top: 100%; /* Aparece justo debajo del enlace */
    display: none; /* Ocultamos el dropdown inicialmente */
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 0; /* Espaciado interno */
    min-width: 30vw;
    z-index: 10;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
}

.dropdownItem {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block; /* Cada item ocupa una línea */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdownItem:hover {
    background-color: #f8f9fa; /* Fondo al pasar el mouse */
    color: #007bff; /* Cambia el color del texto */

}

.dropdown ul li h5 b {
    font-weight: bold;
    font-family: Dancing Script, cursive;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}

/* Logeo y carrito de compras */

.logAndCart{
    display: flex;
    gap: 40px;
}

.logueo{
    cursor: pointer;
}

.carrito{
    font-size: 1.4rem;
    cursor: pointer;
}

/* Mostramos el dropdown al hacer hover sobre el contenedor */
.navItem:hover .dropdown {
    display: flex; /* Muestra el dropdown */
}

/* Responsive: Ajusta para pantallas pequeñas */
@media (max-width: 992px) {
    .navbar{
        height: auto;
    }
}