.navbar{
    background-color: rgb(109, 182, 89);
    height: 10vh;
}

.aritzLogo{
    border: 3px solid #fff;
    color: #fff !important;
    border-radius: 100%;
    padding: 10px;
    font-weight: 600 !important;
    font-size: 3rem !important;

}

.aritzLogo:hover {
    color: #000 !important;
    border: 3px solid #fff;
    transition: 0.5s all;
}

a.nav-link{
    display: flex !important;
    margin: 10px;
}

a.nav-link:hover{
    background-color: rgb(146, 198, 132) !important;
    border-radius: 5%;
}