* {
    font-family: "Montserrat", sans-serif;
}

.iconsDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin-top: 50px;
}

.iconsDivUserPoducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

    .iconsDivUserPoducts:hover{
        background-color: rgb(232, 232, 232);
    }

.iconsDivUserPoducts.selected {
    background-color: rgb(179, 222, 167); /* Azul primario */
    color: white;
    box-shadow: 0 4px 12px rgba(25, 118, 210, 0.3);
}

.iconsDivUserPoducts.selected b {
    color: white;
}

.productsUserTable {
    max-height: 50vh;
    overflow-y: scroll;
}

.productsUserTable thead {
    border-bottom: 2px solid #000;
}

.productsUserTable thead tr th {
    font-weight: 400;
    padding: 20px;
}

.productsUserTable tbody tr td {
    font-weight: 400;
    font-size: .9rem;
    padding: 20px;
}

.productsUsersAdminContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

/* Parte Productos */

.filtrosContainer{
    display: flex;
    gap: 10px;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

    .filter:hover{
        color: rgb(208, 208, 208);
    }

.filterGroup{
    display: flex;
    justify-content: space-around;
}

.filterGroup2 {
    display: flex;
    justify-content: start;
    margin-left: 70px;
}

.filterItem {
    display: flex;
    margin-bottom: 10px;
}

    .filterItem label {
        display: flex;
        width: 100%;
        gap: 10px;
    }

.addPrdBtn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: rgb(179, 222, 167);
    border-radius: 5px;
}

    .addPrdBtn:hover{
        color: #fff;
    }

.delIcon:hover {
    color: rgb(255, 0, 0);
}

/* Admin Orders */

.containerTableOrders{
    display: flex;
    justify-content: center;
    max-height: 50vh;
    overflow-y: scroll;
}

.filaOrdenDetail:hover{
    background-color: aliceblue;
    cursor: pointer;
}