* {
    font-family: "Montserrat", sans-serif;
}

.iconsDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin-top: 50px;
}

.iconsDivUserPoducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
}

    .iconsDivUserPoducts:hover{
        background-color: rgb(235, 226, 226);
    }

productsUserTable thead {
    border-bottom: 2px solid #000;
}

.productsUserTable thead tr th {
    font-weight: 400;
    padding: 20px;
}

.productsUserTable tbody tr td {
    font-weight: 400;
    font-size: .9rem;
    padding: 20px;
}

.productsUsersAdminContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
}