.imageProductDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #000;
    gap: 5px;
}

    .imageProductDiv img {
        width: 100%;
        max-width: 400px;
        aspect-ratio: 4/3; /* Mantiene proporción rectangular (o usa 1/1 para cuadrado) */
        object-fit: cover;
        object-position: top;
    }

.imageSecondaryProductDiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.imageSecondaryProductDivSub {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.agregarImgNuevaDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 300px;
    height: 300px;
    position: relative; /* Vital para que el input se posicione respecto a este div */
}

    .agregarImgNuevaDiv:hover {
        background-color: #e9ecef; /* Efecto hover */
        border-color: #0d6efd;
        border-radius: 5px;
    }

.agregarImgNuevaInput {
    position: absolute; /* Lo saca del flujo normal */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Lo hace invisible, pero sigue siendo clickeable */
    cursor: pointer;
    z-index: 10; /* Asegura que esté por encima de todo */
}

.labelsDiv {
    display: flex;
    gap: 2px;
}

.infoProductoDiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}


/* Modal DELETE */

.imageDeleteContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

    .imageDeleteContainer img {
        width: 100%;
        max-width: 400px;
        aspect-ratio: 4/3; /* Mantiene proporción rectangular (o usa 1/1 para cuadrado) */
        object-fit: cover;
        border-radius: 8px;
        object-position: top;
    }
