.imageProductDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 5px;
    background-color: rgb(237, 237, 237);
}

    .imageProductDiv img {
        width: 100%;
        max-width: 400px;
        aspect-ratio: 4/3; /* Mantiene proporción rectangular (o usa 1/1 para cuadrado) */
        object-fit: cover;
        object-position: top;
    }

.imageSecondaryProductDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 20px;
    gap: 5px;
}



.imageSecondaryProductDivSub img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 4/3; /* Mantiene proporción rectangular (o usa 1/1 para cuadrado) */
    object-fit: cover;
    object-position: top;
}

.agregarImgNuevaDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 300px;
    height: 300px;
    position: relative; /* Vital para que el input se posicione respecto a este div */
    cursor: pointer;
}

    .agregarImgNuevaDiv:hover {
        background-color: #e9ecef; /* Efecto hover */
        border-color: #0d6efd;
        border-radius: 5px;
    }

.agregarImgNuevaInput {
    position: absolute; /* Lo saca del flujo normal */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Lo hace invisible, pero sigue siendo clickeable */
    cursor: pointer;
    z-index: 10; /* Asegura que esté por encima de todo */
}

.labelsDiv {
    display: flex;
    gap: 2px;
}

.infoProductoDiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}


/* Modal DELETE */

.imageDeleteContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

    .imageDeleteContainer img {
        width: 100%;
        max-width: 400px;
        aspect-ratio: 4/3; /* Mantiene proporción rectangular (o usa 1/1 para cuadrado) */
        object-fit: cover;
        border-radius: 8px;
        object-position: top;
    }

.delIcon:hover{
    color: rgb(255, 0, 0);
}

/* Modal Usuario */

.pedidos {
    display: flex;
    flex-direction: column;
    padding: 4px;
    justify-content: center;
    align-content: center;
    color: #000;
    cursor: pointer;
}

.negrita {
    font-weight: bold;
    color: #000; /* Opcional: cambiar color */
    text-decoration: underline; /* Opcional */
}