* {
    font-family: "Montserrat", sans-serif;
}

.centeredContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /* Ancho máximo */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno */
    text-align: left; /* Centra el contenido si es texto */
    gap: 10px;
}

.items{
    width: 75%;
    max-height: 70vh;
    overflow-y: scroll;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    text-align: left;
}

.resumen {
    background-color: rgb(128, 98, 51);
    border: 3px solid rgb(128, 98, 51);
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}

    .resumen p {
        color: #fff;
    }

.fileRefreshDownload {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Comprobante b {
    color: #fff;
}

.fileInput {
    display: flex;
    color: #fff;
}

    .fileInput:hover{
        cursor: pointer;
        color: cadetblue;
    }

    .fileInput input {
        display: none;
    }

.Comprobante {
    background-color: rgb(128, 98, 51);
    padding: 20px;
    border-radius: 5px;
}

    .Comprobante b{
        text-align: center;
    }

.shiippingData {
    background-color: rgb(128, 98, 51);
    border: 3px solid rgb(128, 98, 51);
    padding: 20px;
    text-align: start;
    border-radius: 5px;
    color: #fff;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: rgb(128, 98, 51);
    padding: 20px;
    border-radius: 5px;
    border: 3px solid rgb(128, 98, 51);
}

    .itemsContainer b {
        text-align: start;
        color: #fff;
    }

.itemsDetail {
    display: flex;
    gap: 20px;
    color: #fff;
}

    .itemsDetail p{
        text-align: start;
        font-weight: 600;
        color: #fff;
    }

.itemsDetailSub{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TotalPrice {
    display: flex;
    flex-direction: column;
    margin-left: auto; /* Empuja el div hacia la derecha */
}

    .TotalPrice p {
        text-align: right;
    }

.imageContainer {
    width: 20%;
}

.imageContainer img{
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
}