* {
    font-family: "Montserrat", sans-serif;
}

.requestsContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
    max-height: 50vh;
    overflow-y: scroll;
}

.requestsTable thead{
    border-bottom: 2px solid #000;
}

.requestsTable thead tr th {
    font-weight: 400;
    padding: 20px;
}

.requestsTable tbody tr td {
    font-weight: 400;
    font-size: .9rem;
    padding: 20px;
}

.fileRefreshDownload{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.refreshIcon{
    cursor: pointer;
}

.downloadLink {
    color: #007bff;
    text-decoration: none;
}

    .downloadLink:hover {
        text-decoration: underline;
    }

.fileInput {
    cursor: pointer;
}

    .fileInput:hover {
        cursor: pointer;
        color: cadetblue;
    }

    .fileInput input{
        display: none;
    }

.loading {
    display: flex;
    align-items: center;
    gap: 8px;
}

.orderNavlink{
    text-decoration: none;
    color: #000;
}

    .orderNavlink:hover{
        color: blue;
        text-decoration: underline;
    }

.filaOrdenDetailUser:hover {
    background-color: aliceblue;
    cursor: pointer;
}