.requestsTitle {
    font-family: "Montserrat", sans-serif;
}

.requestsContainer{
    display: flex;
    justify-content: center;
    padding: 10px;

}

.requestsTable thead{
    border-bottom: 2px solid #000;
}

.requestsTable thead tr th {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding: 20px;
}

.requestsTable tbody tr td {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: .9rem;
    padding: 20px;
}