.title {
    font-style: normal;
    font-size: 4rem;
    font-family: Dancing Script, cursive;
}

/* Contenedor principal de la página */
.productsPage {
    display: flex; /* Flexbox para organizar el aside y el grid */
    gap: 20px; /* Espaciado entre aside y grid */
    margin: 0 auto; /* Centra la página */
    padding: 20px; /* Espaciado interno */
    max-width: 1200px; /* Ancho máximo */
}

/* Aside (barra lateral para filtros) */
.filters {
    flex: 1; /* Toma espacio proporcional */
    min-width: 500px;
    max-width: 600px; /* Limita el ancho del aside */
    background-color: #f8f9fa; /* Fondo claro */
    border: 1px solid #ddd; /* Borde del aside */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
}

.filtersTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.filterList {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Sin padding ni margin */
}

.filterItem {
    margin-bottom: 10px;
}