.title {
    font-style: normal;
    font-size: 3.5rem;
    font-family: "Montserrat", sans-serif;
}

/* Contenedor principal de la página */
.productsPage {
    display: flex; /* Flexbox para organizar el aside y el grid */
    padding: 20px; /* Espaciado interno */
    width: 90vw; /* Ancho máximo */
}

/* Aside (barra lateral para filtros) */
.filters {
    flex: 1; /* Toma espacio proporcional */
    min-width: 350px;
    max-width: 600px; /* Limita el ancho del aside */
    padding: 20px; /* Espaciado interno */
}

.filtersTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.filterList {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Sin padding ni margin */
}

.filterItem {
    display: flex;
    margin-bottom: 10px;
}

.filterItem label{
    display: flex;
    width: 100%;
    gap: 10px;
}

/* Grilla de productos */

.carta {
    min-height: 500px !important;
    width: 100%;
}

.cartaImgContainer {
    justify-content: center;
}

    .cartaImgContainer img {
        width: 100%;
        aspect-ratio: 2/3; /* Mantiene proporción rectangular (o usa 1/1 para cuadrado) */
        object-fit: cover;
        object-position: top;
    }

    .cuerpoCarta {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

.productTitle {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

    .productTitle:hover{
        color: rgb(128, 98, 51);
    }

.cartaAddCart {
    min-height: 40px;
    background-color: rgb(128, 98, 51);
    border: none;
    color: #fff;
}

    .cartaAddCart:hover {
        background-color: #fff;
        color: rgb(128, 98, 51);
    }

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .productsPage {
        flex-direction: column; /* El aside y el grid se colocan en una columna */
    }

    .filters {
        max-width: 100%; /* El aside ocupa todo el ancho */
        margin-bottom: 20px; /* Espaciado debajo del aside */
    }

    .carta {
        height: auto !important;
    }

}