.title {
    font-style: normal;
    font-size: 4rem;
    font-family: Dancing Script, cursive;
}

/* Contenedor principal de la página */
.productsPage {
    display: flex; /* Flexbox para organizar el aside y el grid */
    gap: 20px; /* Espaciado entre aside y grid */
    margin: 0 auto; /* Centra la página */
    padding: 20px; /* Espaciado interno */
    max-width: 1200px; /* Ancho máximo */
}

/* Aside (barra lateral para filtros) */
.filters {
    flex: 1; /* Toma espacio proporcional */
    min-width: 300px;
    max-width: 600px; /* Limita el ancho del aside */
    padding: 20px; /* Espaciado interno */
}

.filtersTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.filterList {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Sin padding ni margin */
}

.filterItem {
    display: flex;
    margin-bottom: 10px;
}

.filterItem label{
    display: flex;
    width: 100%;
    gap: 10px;
}

/* Grilla de productos */

.carta{
    height: 400px !important;
}

.cuerpoCarta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .productsPage {
        flex-direction: column; /* El aside y el grid se colocan en una columna */
    }

    .filters {
        max-width: 100%; /* El aside ocupa todo el ancho */
        margin-bottom: 20px; /* Espaciado debajo del aside */
    }

    .carta {
        height: auto !important;
    }

}