.centeredContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno */
    width: 100vw;
}
.container{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    max-height: 600px;
    padding: 2%;
}

/* Seccion imagenes */

.imgContainer{
    display: flex;
    width: 35%;
}

.imgMain {
    width: 70%;
    order: 2;
    padding: 10px;
    aspect-ratio: 4/3; /* Mantiene proporción rectangular (o usa 1/1 para cuadrado) */
    object-fit: cover;
}

.imgSubContainer {
    width: 30%;
}

img{
    width: 100%;
    object-fit: cover;
}


/* Seccion info */

.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.titleInfo{
    font-size: 3rem;
}

.priceInfo{
    font-size: 2rem;
}

.addCartInfo{
    min-height: 40px;
    background-color: rgb(179, 222, 167);
    border: none;
    color: #fff;
}

    .addCartInfo:hover {
        background-color: #fff;
        color: rgb(179, 222, 167);
        border: 2px solid rgb(179, 222, 167);
    }