.carrouselContainer {
    height: 80vh;
    overflow: hidden;
    margin-top: 10px;
    z-index: 1;
    object-position: top;
}

.carrouselContainerSub {
    width: 100% !important;
    height: 100%;
}

.carrouselContainerSub :global(.carousel-inner) {
    height: 100%;
    position: relative;
}

.carrouselContainerSub :global(.carousel-item) {
    height: 100%;
}

.titleCarrousel {
    position: absolute;
    z-index: 10;
    color: #fff;
    top: 20%;
    left: 50%; /* Lo mueve al 50% a la derecha */
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.video {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

    .shopBtn {
        border: 1px solid #fff;
        padding: 10px;
        width: 100px;
        text-decoration: none;
        color: #000;
        background-color: #fff;
        text-align: center;
    }

    .shopBtn:hover {
        color: #fff;
        background-color: rgb(128, 98, 51);
    }
    /* --- ESTILO DE LA IMAGEN --- */
    .carrouselImage {
        width: 100%;
        height: 100%;
        display: block;
        /* 
       cover: Rellena todo el cuadro recortando los bordes si hace falta (No deforma).
       contain: Muestra la foto entera pero deja espacios vacíos a los lados.
       fill: Estira la foto (La deforma, queda feo).
    */
        object-fit: cover;
        object-position: center; /* Centra la imagen */
    }