.carrouselContainer {
    height: 80vh;
    object-fit: contain;
    overflow: hidden;
    margin-top: 10px;
    z-index: 1;
}

.carrouselContainerSub {
    width: 100% !important;
    height: 100%;
}

.carrouselImage {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: bottom;
}