.container {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 10px;
    background-color: aliceblue;
}

.imageContainer{
    width: 30%;
    object-fit: cover;

}

.image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.descriptionContainer{
    width: 30%;
}

.text {
    font-size: 2.2rem;
    font-family: Dancing Script, cursive;
    color: #555;
    line-height: 1.5;
}
