.container {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.text {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
}
