.leftContainer {
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    padding: 10px;
    margin-left: 40px;
    margin-top: 50px;
    background-color: #f9f9f9;
}

.rightContainer {
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    padding: 10px;
    margin-right: 40px;
    margin-top: 50px;
    background-color: #f9f9f9;
}

.imageContainer {
    width: 40%;
    height: 80%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descriptionContainer {
    width: 40%;
    height: 100%;
    align-content: center;
}

.text {
    font-size: 2.2rem;
    font-family: sans-serif, #000;
    line-height: 1.5;
    color: rgb(128, 98, 51);
}

.descriptionContainer p {
    color: #000;
}

@media (max-width: 992px) {
    .leftContainer {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 0px;
    }

    .rightContainer {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: end;
        gap: 5px;
        margin-right: 0px;
        margin-top: 100px;
        background-color: #f9f9f9;
    }

    .imageContainer {
        width: 100%;
        height: 80%;
        order: 2;
    }

    .descriptionContainer {
        width: 100%;
    }

}