* {
    font-family: "Montserrat", sans-serif;
}

.artizLogoCompra {
    font-weight: bold !important;
    font-size: 4rem !important;
    font-family: Dancing Script, cursive;
}

.container {
    display: flex;
    width: 60vw;
    gap: 20px;
    padding: 50px;
    border: 4px solid rgb(179, 222, 167);
    background-color: rgb(179, 222, 167);
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.containerComprobante{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btnShippingNext {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
}

    .btnShippingNext:hover {
        background-color: #0056b3;
    }

