.container {
    padding: 10px !important;
}

.formShippingInfo{
    flex-direction: column;
    gap: 10px;
}

.shippingLabels {
    padding: 0 30%;
}

.shippingInputs{
    height: 40px;
    width: 100%;
    position: relative;
}

.btnShippingNext {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}

    .btnShippingNext:hover {
        background-color: #0056b3;
    }

.btnShippingBack {
    width: 100%;
    background-color: #fff;
    color: #216993;
    border: none;
    padding: 1px 10px;
    cursor: pointer;
}

    .btnShippingBack:hover {
        text-decoration: underline;
    }

.shippingSeparate{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/* METODOS DE PAGO */

.containerPayments {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    height: 300px;
    width: 100%;
}

.buttonsPayments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
    border: none;
}

    .buttonsPayments:hover{
        border: 2px solid #000;
        cursor: pointer;
    }

.imgMp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

.selected {
    border: 2px solid #000; /* Borde negro bien visible */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para destacarlo */
    transform: scale(1.03); /* Un poco más grande para que resalte */
}

/* Opcional: Hacer que el botón no seleccionado se vea un poco opaco */
.buttonsPayments:not(.selected) {
    opacity: 0.7;
}

    .buttonsPayments:not(.selected):hover {
        opacity: 1; /* Opacidad completa al pasar el mouse */
    }

.paymentInfoContainer{
    padding: 50px;
}

/* Transferencia bancaria */
.bankContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px;
}


.bankContainerSub {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

/* Boton de MercadoPago */
.mpContainer {
    padding: 10px;
}

.resumeContainer{
    max-height: 60vh;
    overflow-y: scroll;
}

/* Cart Item */


.cartItem {
    display: flex;
    justify-content: start;
    gap: 10px;
    height: 120px;
}

.imgItem {
    width: 30%;
    object-fit: cover;
}

    .imgItem img {
        aspect-ratio: 1/1;
        object-position: top;
    }

.detailItem{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.envio {
    border-bottom: 2px solid #808080;
    border-top: 2px solid #808080;
    padding: 20px;
}

.total {
    padding: 20px;
}

/* Comprobante */
.containerComprobante {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fileInput {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

    .fileInput input {
        display: none; /* Ocultar el elemento input real */
    }

    .fileInput span {
        display: inline-block;
        transition: opacity 0.3s ease-in-out;
    }

.loading {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.success {
    color: #fff;
    font-weight: bold;
}

.total {
    color: #000;
}

.calcSend {
    border: none;
    padding: 5px;
    height: 40px;
    width: 100%;
}

    .calcSend:hover{
        background-color: rgb(194, 194, 194);
    }

/* Ocultar las flechitas en los input type number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.logoAritz {
    color: #000 !important;
    border-radius: 100%;
    padding: 10px;
    font-weight: bold !important;
    font-size: 10rem !important;
    font-family: Dancing Script, cursive;
}

/* MercadoPago */

.mpContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

@media (max-width: 992px) {

    .formShippingInfo label{
        width: 100%;
        padding: 0;
    }

    .contactContainer label {
        width: 100%;
        padding: 0;
    }

    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px;
    }

    .containerPayments {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 0;
        height: 400px;
        width: 100%;
    }

    .buttonsPayments {
        width: 100%;
        height: 100%;
    }

    .subPaymentInfoContainer{
        display: flex;
        flex-direction: column ;
    }

    .resumeContainer {
        width: 100%;
        overflow-y: scroll;
    }

    .bankContainer {
        width: 100%;
        margin: 0;
    }

}