*{
    box-sizing: border-box;
}

.nav-link{
    color: #fff !important;
}

.nav-link.active {
    color: #000 !important; /* Cambia el color al que tú prefieras, en este caso naranja */
    font-weight: bold;
}